/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


body {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.support {
    width: 10%;
    height: 100px;
    margin: auto;

}


.light {
    border-radius: 100%;
    position: relative;
    height: 80px;
    width: 80px;
    bottom: 3px;
    margin-bottom: 0.5rem;
}

.light::after {
    border-right: 6px solid rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    content: ' ';
    position: absolute;
    top: 6px;
    left: 0px;
    width: 70px;
    height: 70px;
}

.red {
    background-color: darkred;
}

.green {
    background-color: darkgreen;
}

.yellow {
    background-color: darkgoldenrod;
}

.light.red.selected {
    background-color: #c0392b;
}

.light.yellow.selected {
    background-color: #f1c40f;

}

.light.green.selected {
    background-color: #2ecc71;
}